.bold{
    font-size: 16px;
}
.Copyright {
      text-align: center;
      padding: 10px;
}
#right{
    display: flex;
    justify-content: right;
}
#left{
    display: flex;
    justify-content: left;